.card{
  padding: 20px;
    /* text-align: center; */
    background: #edeeec;
    border-radius: 30px;
    font-size: 25px;
    /* transition: width 2s ease-in; */

  }

.container{
  margin-top: 10vmin;
}